

/*

  Wooberg Button

*/

.wooberg-button {

  display: flex;
  flex-direction: column;
  align-items: start;
   
}

.wooberg-button span {
  padding: 15px 40px;
  font-style: normal;
  line-height: 32px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;

  background: #bfa56d;
  cursor: pointer;

}


